*{
  margin:0px;
  padding:0px;
}
header{
  display:flex;
  background:#fff6f0;
  justify-content:space-between;
  padding: 0px 30px;
  align-items:center;
  width:1200px;
}
.logoImg{
  display:flex;
  align-items:center;
}
.logoImg img{
  width:100px;
}
.nav-links{
  display:flex;
  gap:30px;
}
.nav-links>li{
  list-style:none;
}
.nav-links li a{
  text-decoration:none;
}
nav ul li a:hover {
  color: #f2644b;
}
.orange{
  color:orange;
}
main{
  display: flex;
align-items:center;
  justify-content: center;
  padding:50px;
  gap:80px;
}
.product-image {
  position:relative;
}
.product-image img {
  width:450px;
}
.product-info h2 {
  color: #f2644b;
  font-weight:900px;
  font-size:40px;
}

.product-info h1 {
  font-size:42px;
  color: #2f2f4f;
  margin:10px 0px;
}
.product-info p {
  max-width: 400px;
  margin:10px 0;
  color: #555;
  line-height:1.5;
}
.product-info button {
  background: #3f51b5;
  color: #fff;
  padding:14px 30px;
  border: none;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  display: inline-flex;
  align-items:center;
  gap:10px;
  transition:background 0.3s;
}
.product-info button:hover {
  background: #303f9f;
}
.section{
 background:#e6e6e6;
 width:1200px;
 text-align:left;
 border-radius:15px;
 padding:100px;
}
.section h1{
  margin-bottom:30px;
  font-size:50px;
  font-family:bold;
  color:#333;
}
.card-container{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}
.card { 
  background:white;
  border-radius:20px;
  padding:30px;
  width:230px;
  height:500px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1)
  margin-left:400px;
  align-items:center
}
.card img{
  width:230px;
  height:300px;
  object-fit:content;
  margin-bottom:30px;
}
.card h3{
  font-size:18px;
  margin-bottom:15px;
}
.card p{
  font-size:14px;
  margin-bottom:18px;
  color: #555;
}
.card-footer{
  font-size:14px;
  margin-bottom:18px;
  color: #555;
}
.card-footer span{
  font-weight:bold;
  color: orangered;
}
.card-footer button{
 background:#3f51bf;
 color:white;
 font-size:16px;
 border-radius:6px;
 color: white;
}
.card-footer button:hover{
  background:blue;
}
.image img{
padding-left:300px;
}
.web-img img{
padding-left:330px;
width:500px;
padding-top:50px;
}
.web-img h2 {
padding-left:320px;
padding-top:20px;
}
.web-img p{
padding-left:320px;
}
h1{
text-align:center;
padding-top:50px ;
}
input{
  width:70px;
  height:30px;
  margin-left:490px;
  padding-left:30px;
  border-radius:10px;
}
button{
  background:#3f51bf;;
  color:white;
  height:30px;
}
button:hover{
  background:blue;
}

h3{
  text-align:center;
}
